<div class="container bottom">
  <div class="row justify-content-md-center align-items-end">
    <div class="col-sm-12">
      <footer class="blockquote-footer text-center">
        <p>Todos los derechos resevados</p>
      </footer>
    </div>
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>