<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <form action="/ver" method="post" class="form-inline">
                    <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Cursos </a>
                </form>
            </li>
            <li class="nav-item">
                <form action="/inscribir" method="post" class="form-inline">
                    <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Inscripción </a>
                </form>
            </li>
            <li class="nav-item">
                <form action="/verMisCursos" method="post" class="form-inline">
                    <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Mis cursos </a>
                </form>
            </li>
        </ul>
    </div>
</nav>