{{>header}}

<h2> Bienvenido al perfil de coordinador </h2>

<p> Seleccione una de las siguientes acciones: </p>
<ul>

    <li type="circle"> <a href="/formularioCrear" target="_self"> Crear cursos </a> </li>

    <li type="circle"> <a href="/formularioEditar" target="_self"> Ver y editar cursos existentes </a> </li>

</ul>


{{{listar}}}

{{>footer}}