{{>header}} {{>headerCoordinador}}

<div class="row mx-4">
    <div class="col-sm-12">
        {{{texto}}}
    </div>
</div>

<div class="row justify-content-md-center align-items-center px-5">
    <h2>Cursos existentes</h2>
    {{{informacion}}}
</div>

{{>footer}}