{{>header}} {{>headerCoordinador}}

<div class="row justify-content-md-center align-items-center px-5 py-5">
    <h2>Crear Curso</h2>

    <form action="/crear" method="post" class="border border-dark px-4 mx-4 pt-4">
        <div class="form-row px-4">
            <div class="form-group col-md-4">
                Nombre:
                <input type="text" class="form-control" size="30" maxlength="30" placeholder="Nombre Completo" name="nombre" required>
            </div>
            <div class="form-group col-md-4">
                Identificación del curso:
                <input type="text" class="form-control" size="30" maxlength="30" placeholder="Identificación del Curso" name="id" required>
            </div>
            <div class="form-group col-md-4">
                Valor:
                <input type="text" class="form-control" size="30" maxlength="30" placeholder="Valor del Curso ej: $200.000" name="valor"
                    required>
            </div>
        </div>
        <div class="form-row px-4">
            <div class="form-group">
                Descripción:
                <input type="text" class="form-control" size="200" maxlength="200" placeholder="Descripción del Curso" name="descripcion"
                    required>
            </div>
        </div>
        <div class="form-row px-4">
            <div class="form-group col-md-6">
                Modalidad:
                <select class="form-control" name="modalidad">
                    <option selected>-</option>
                    <option>Virtual</option>
                    <option>Presencial</option>
                    <br>
                </select>
            </div>
            <div class="form-group col-md-6">
                Intensidad Horaria:
                <input type="number" class="form-control" size="30" maxlength="30" placeholder="Duración del curso en horas" name="intensidad">
                <br>
            </div>
        </div>
        <div class="form-row px-4 pb-5">
            <button class="btn btn-secondary"> Crear el curso </button>
        </div>
    </form>
</div>

<div class="row justify-content-md-center align-items-center px-5 py-5">
    <h2>Cursos existentes</h2>
    {{{TablaCursos}}}
</div>


{{>footer}}