{{>header}}
{{>headerAspirante}}

<div class="row">
    <div class="col-sm text-center p-5">
        <img src="img/EducacionContinua.jpg" class="img-fluid rounded img-thumbnail">
    </div>

</div>

{{>footer}}