{{>header}}
{{>headerAspirante}}

<div class="container"></div>
    
        {{{texto}}}   
    <div class="row justify-content-md-center align-items-center px-4">
        {{{inscrito}}}
    </div>
</div>

{{>footer}}