{{>header}}
{{>headerAspirante}}

<div class="row mr-0 justify-content-md-center align-items-center">
    <div class="col-sm-12 p-4">

        <h2> Bienvenido a la oferta de cursos de educación continua </h2>
        <p>Seleccione el curso de su interés para mayor información</p>
    </div>
</div>


{{{informacion}}}


{{>footer}}