{{>header}}

{{>headerCoordinador}}

<div class="row mr-0 justify-content-md-center align-items-center">
    <div class="col-sm-12 p-4">

        <h2> Bienvenido a los cursos de eduación continua </h2>
        <p>Seleccione el curso para ver las personas inscritas</p>
        
    </div>
</div>

{{{informacion}}}

{{>footer}}